/* #TODO: 
  - Add an animation to hamburger-menu icon (in project and tasks)

*/

/* TEMPORARY - #FIXME: */

.project[data-project-color="test"] {
  background-color: #d7dbe5;
}

/* Settings */
/* 
--- 01 TYPOGRAPHY SYSTEM
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS: 
Deafult: 400 / 500 / 600 / 700


- LINE HEIGHTS: 
Deafult: 1
Small 1.05
Medium 1.2
Paragraph deafult 1.15

- LETTER SPACING 
3px
-0,5px


--- 02 COLORS
- Primary (brand?) : 

- Tints (darker): 

- Shades (lighter): 

- Accents:

- Greys: 
#222222

- Special:
  logout #FF5959;

--- 05 SHADOWS


--- 06 Border-Radius
Deafult: 9px

--- 07 Whitespace

*/

/* _________________ */
/* Font import */
/* _________________ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Material Symbols default */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* _________________ */
/* General settings */
/* _________________ */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

small,
.text_small {
  font-size: 0.8rem;
}

.hidden {
  display: none;
}

/* General elements settings */

li.btn,
li.icon {
  list-style-type: none;
}

.icon {
  cursor: default;
}

.btn,
.checkbox {
  cursor: pointer;
}

* > .checkbox {
  display: flex;
}

.checkbox {
  position: relative;
}

.checkbox::before {
  font-size: 1.8rem;
  content: "circle";
  display: block;
}

.checkbox::after {
  position: absolute;
  content: "done";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  opacity: 0;
  transition: 0.2s;
}

.checkbox:hover::after {
  font-size: 1.2rem;
  opacity: 1;
}

/* links */

a:link,
a:visited {
  cursor: pointer;
  color: inherit;
}
a:link:hover,
a:link:active {
  opacity: 0.7;
}

/* template classes */

.box-element {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

/* container and app */

.container {
  display: grid;
  /* grid-template-columns: 10fr 40fr 40fr; */
  width: 100vw;
  height: 100vh;
  background-color: #222222;
}

.app {
  padding: 2.4rem;
  width: 100%;
  height: 100%;
  display: flex;
}

.app-views {
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 2.4rem;
}

/* views */
.view {
  background-color: #f3f3f3;
  border-radius: 12px;
}

.first-view {
  border-radius: 0 12px 12px 0;
}

.second-view {
}

/* ---------- Navigation ---------- */

/* Navigation bar */

.navigation-bar {
  background-color: #d9d9d9;
  height: 100%;
  width: 4.8rem;
  border-radius: 12px 0 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation-bar .options {
  margin: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

/* Navigation bar icons */

a[href="#logout"] {
  transition: 200ms;
}

a[href="#logout"]:hover {
  color: #ff5959;
}

/* ---------- Projects Panel ---------- */

/* Panel */

/* Project */

.project {
}

.project-header {
  height: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  cursor: default;
}

.project-header .icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

/* Tasks */

.task {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0;
  overflow: hidden;
}

.task-header {
  padding: 0.4rem;
  background-color: darkkhaki;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 1.4rem;
}

.task-header * {
  margin-left: 1rem;
}

.subtasks {
  font-size: 1.4rem;
  margin: 1.6rem;
  list-style-type: none;
}

.subtasks li {
  margin-top: 1rem;
  margin-left: 1.6rem;
  display: flex;
  align-items: center;
}

.subtask {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 1rem;
}

.subtask .checkbox {
  width: fit-content;
  font-size: 1.6rem;
}

.subtask-info {
  display: flex;
  flex-direction: column;
}

.subtasks-completed {
  display: flex;
  gap: 1rem;
  align-items: center;
  opacity: 0.7;
}

.subtask-description {
  font-size: 1.2rem;
  opacity: 0.7;
}

.subtasks-completed .icon.btn::before {
  content: "expand_circle_down";
  font-size: 1.8rem;
  display: block;
  font-variation-settings: "FILL" 1;
  transition: 0.2s;
}

.subtasks-completed:hover .icon.btn::before {
  /* transform: rotate(360deg); */
  font-variation-settings: "FILL" 0;
}
/* #TODO:: make tasks button animation */
